* {
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

header {
    border-bottom: 2px solid #cccccc;
    background-color: #ffffff;
}

a:link {
    text-decoration: none;
    color: #777777;
}

a:visited {
    text-decoration: none;
    color: #777777;
}

a:hover {
    text-decoration: underline;
    color: #777777;
}

a:active {
    text-decoration: underline;
    color: #777777;
}

.nav {
    background-color: #ffffff;
    list-style-type: none;
    text-align: right;
    margin: 0;
    padding: 0;
    color: #777777;
    margin-right: 220px;
    margin-left: 240px;
    position: static;
}

.nav li {
    display: inline-block;
    font-size: 18px;
    padding: 20px;
}

#name {
    float: left;
    font-size: 20px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    text-align: center;
}

.mainbody {
    width: 100%;
    padding: 100px;
    padding-top: 40px;
    background-image: url("assets/images/bananas.png");
}

#full {
    width: 960px;
    height: 500px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    background: #ffffff;
    color: #777777;
    text-align: left;
    border: 2px solid #dddddd;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#me {
    float: left;
    margin-right: 20px;
    width: 200px;
    height: 150px;
}

.about {
    line-height: 200%;
}

#portfolio {
    width: 960px;
    height: 940px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    background: #ffffff;
    border: 2px solid #dddddd;
    position: relative;
}

.gallery img{
    margin: 10px;
    width: 275px;
    height: 206px;
}

#text1 {
    position: absolute;
    bottom: 630px;
    left: 30px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding-left: 106px;
    padding-right: 107px;
}

#text2 {
    position: absolute;
    bottom: 630px;
    left: 329px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding-left: 95px;
    padding-right: 107px;
}

#text3 {
    position: absolute;
    bottom: 400px;
    left: 30px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding-left: 88px;
    padding-right: 107px;
}

#text4 {
    position: absolute;
    bottom: 400px;
    left: 329px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding-left: 38px;
    padding-right: 107px;
}

#text5 {
    position: absolute;
    bottom: 170px;
    left: 30px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding-left: 38px;
    padding-right: 107px;
}

#form {
    width: 960px;
    height: 550px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    background: #ffffff;
    color: #777777;
    text-align: left;
    border: 2px solid #dddddd;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#submit {
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 10px;
}

h1 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer{
    padding: 20px;
    clear: both;
    background: #666666;
    color: #ffffff;
    text-align: center;
    border-top: 10px solid #4aaaa5;
}

@media screen and (min-width: 980px)